<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="bankAccountRepository"
		class="com.assignment.question4.BankAccountRepositoryImpl" />

	<bean id="bankAccountService"
		class="com.assignment.question4.BankAccountServiceImpl">
		<property name="bankAccountRepository"
			ref="bankAccountRepository" />
	</bean>
	<bean id="bankAccountController"
		class="com.assignment.question4.BankAccountController"
		autowire="byType" />
	<!-- Autowire byName -->
	<!--<property name="bankAccountService" ref="bankAccountService" /> -->

	<!-- Autowire byType -->
	<!--<property name="bankAccountService" ref="bankAccountServiceImpl" /> -->

	<!-- Autowire by constructor -->
	<!--<constructor-arg ref="bankAccountService" /> -->
</beans>
